<app-auth-layout>
  <router-outlet>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()" autocomplete="off">
        <h2>Log In</h2>
        <mat-form-field class="full-width-input">
          <input matInput type="email" placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.controls?.email?.invalid && (loginForm.controls?.email?.touched || loginForm.controls?.email?.dirty || isSubmit)">
            <span *ngIf="loginForm.controls.email.errors?.required">
              Please enter a email address
            </span>
            <span *ngIf="loginForm.controls.email.errors?.email">
              Please emter a valid email address
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginForm.controls?.password?.invalid && (loginForm.controls?.password?.touched || loginForm.controls?.password?.dirty || isSubmit)">
            <span *ngIf="loginForm.controls.password.errors?.required">
              Please enter password
            </span>
            <span *ngIf="loginForm.controls.password.errors?.minlength">
              Password should be minimum of 5 characters
            </span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>

  </router-outlet>
</app-auth-layout>
